
@font-face {
  font-family:'chillax' ;
  src: url('/src/Assets/fonts/chillax/Chillax-Extralight.otf');
  font-weight:100
}
@font-face {
  font-family:'chillax' ;
  src: url('/src/Assets/fonts/chillax/Chillax-Light.otf');
  font-weight:200
}
@font-face {
  font-family:'chillax' ;
  src: url('/src/Assets/fonts/chillax/Chillax-Medium.otf');
  font-weight:300
}
@font-face {
  font-family:'chillax' ;
  src: url('/src/Assets/fonts/chillax/Chillax-Regular.otf');
  font-weight:400
}
@font-face {
  font-family:'chillax' ;
  src: url('/src/Assets/fonts/chillax/Chillax-Semibold.otf');
  font-weight:500
}
@font-face {
  font-family:'chillax' ;
  src: url('/src/Assets/fonts/chillax/Chillax-Bold.otf');
  font-weight:600
}



html {
  scroll-behavior: smooth;
}

  body {
    font-family: 'chillax', "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
      "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }

.spin {
  animation: spin .5s linear infinite
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

.listo{
  list-style-image: url('li.png');
}

::-webkit-scrollbar{
  appearance: none;
  height:0;
  width:0;
}

.showcases{
  display:grid;
  gap:10px;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
}
.showcases > .show-case{
  padding:20px;
  height:300px;
  background-size:cover;
  display:block;
  background-position:center center;
  /* background:#eee */
}
  
  /** TAILWIND **/
  @tailwind base;
  @tailwind components;
  @tailwind utilities;


  @layer components{
    .gradient{
      @apply bg-gradient-to-r from-blue-700 to-pink-600;
    }
  }

  
  @layer utilities{
  .flex-center{
    @apply flex items-center justify-center
  }

}